@tailwind base;
@tailwind components;
@tailwind utilities;

@import './hover-underline-link.css';

html {
  --primary: #ac247d;
}

html,
body {
  min-height: 100vh;
}

@layer utilities {
  .small-card-w {
    width: 30rem;
    max-width: calc(100vw - 2rem);
  }

  @screen md {
    .small-card-w {
      width: 46rem;
    }
  }

  .btn {
    @apply text-white uppercase rounded-3xl bg-primary py-0.5 px-4 transition-transform ease-in-out;
  }

  .btn:hover {
    box-shadow: 0 0 1rem var(--primary);
  }

  .btn:active {
    transform: scale(0.97);
  }
}
