@tailwind base;
@tailwind components;
@tailwind utilities;

@import './hover-underline-link.css';

html {
  --primary: #ac247d;
  --gray: #777d8c;
  --success: rgb(0, 140, 0);
  --success-shadow: rgba(0, 140, 0, 0.25);
  --success-shadow-hover: rgba(0, 140, 0, 0.4);
  --error: rgb(200, 0, 0);
  --error-shadow: rgba(200, 0, 0, 0.25);
  --error-shadow-hover: rgb(200, 0, 0, 0.4);
}

html,
body {
  min-height: 100vh;
}

@layer utilities {
  .small-card-w {
    width: 30rem;
    max-width: calc(100vw - 2rem);
  }

  @screen md {
    .small-card-w {
      width: 46rem;
    }
  }

  input::placeholder {
    @apply text-gray-400;
  }

  input[disabled] {
    @apply text-gray-500;
  }

  .btn {
    @apply text-white uppercase rounded-3xl bg-primary py-0.5 px-4 transition-transform ease-in-out;
  }

  .btn:disabled {
    @apply bg-gray-400;
  }

  .btn:hover:not(:disabled) {
    box-shadow: 0 0 1rem var(--primary);
  }

  .btn:active:not(:disabled) {
    transform: scale(0.97);
  }

  /* 'appearance: none'  is necessary for removing Safari's gloss but it also removes select arrows */
  .select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHBvbHlnb24gY2xhc3M9ImNscy0yIiBwb2ludHM9IjEuNDEgNC42NyAyLjQ4IDMuMTggMy41NCA0LjY3IDEuNDEgNC42NyIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIzLjU0IDUuMzMgMi40OCA2LjgyIDEuNDEgNS4zMyAzLjU0IDUuMzMiLz48L3N2Zz4=)
      100% 50% / 1.6rem no-repeat;
  }
}
